<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user creation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <form method="post" , action="/register">
        <input type="text" name="name" placeholder="enter your name">
        <input type="number" name="age" placeholder="enter your age">
        <input type="email" name="email" placeholder="enter your email">
        <input type="text" name="username" placeholder="enter your username">
        <input type="password" name="password" placeholder="enter your password">
        <button>Create</button>

    </form>
</body>

</html>